MrAnnouncerBot/.vs/MrAnnouncerBot/v15/.suo
MrAnnouncerBot/obj/
MrAnnouncerBot/.vs/
MrAnnouncerBot/packages/
MrAnnouncerBot/bin/
MrAnnouncerBot/App.config
MrAnnouncerBot/MrAnnouncerBot.csproj.user
MrAnnouncerBot/Properties/Settings.settings
MrAnnouncerBot/Properties/Settings.Designer.cs
MrAnnouncerBot/.cr/personal/
