@page
@model DieRollerModel
@{
  Layout = null;
}

@*<link rel="icon" href="data:,">*@
<!DOCTYPE html>

@*<canvas id="myFrontCanvas" width="1920" height="1080"></canvas>*@

<script src="~/lib/signalr/signalr.js"></script>
@*<style>
  div { background-color: #00ff00 }
</style>*@

<script>
  //connectToSignalR(signalR);
</script>

<body style="margin: 0">
  <div id="container"></div>
  <script src="~/lib/dice/node_modules/three/build/three.js"></script>
  <script src="~/lib/dice/node_modules/cannon/build/cannon.js"></script>
  <script src="~/lib/dice/node_modules/three/examples/js/controls/OrbitControls.js"></script>
  <script src="~/lib/dice/node_modules/three/examples/js/libs/stats.min.js"></script>
  <script src="~/lib/dice/dice.js"></script>
  <div id="ThreeJS" style="position: absolute; left:0px; top:0px" ></div>
  <script src="~/GameDev/Source/Dice/DiceSounds.js"></script>
  <script src="~/GameDev/Source/Dice/DiceRoller.js"></script>
</body>
