@page
@model DieRollerModel
@{
  Layout = null;
}

@*<link rel="icon" href="data:,">*@
<!DOCTYPE html>

@*<canvas id="myFrontCanvas" width="1920" height="1080"></canvas>*@

<script src="~/lib/signalr/signalr.js"></script>
@*<style>
    div { background-color: #00ff00 }
  </style>*@

<script src="~/GameDev/Source/Game Engine/Folders.js"></script>
<script src="~/GameDev/Source/Globals.js"></script>
<script src="~/GameDev/Source/Game Engine/Connection.js"></script>

<script>
  Folders.assets = 'GameDev/Assets/DragonH';
  connectToSignalR(signalR);
</script>

<body style="margin: 0">
	<div id="container"></div>
	<script src="~/lib/dice/node_modules/three/build/three.js"></script>
	<script src="~/lib/dice/node_modules/cannon/build/cannon.js"></script>
	<script src="~/lib/dice/node_modules/three/examples/js/controls/OrbitControls.js"></script>
	<script src="~/lib/dice/node_modules/three/examples/js/libs/stats.min.js"></script>
	<script src="~/lib/dice/dice.js"></script>

	<canvas id="diceBackCanvas" style="position: absolute; left:0px; top:0px" width="1920" height="1080"></canvas>
	<div id="ThreeJS.Players" style="position: absolute; left:0px; top:0px"></div>
	<div id="ThreeJS.Viewers" style="position: absolute; left:0px; top:0px"></div>
	<canvas id="diceFrontCanvas" style="position: absolute; left:0px; top:0px" width="1920" height="1080"></canvas>
	@*
		To drag the camera around, move the diceFrontCanvas above the ThreeJS divs above.
	*@

	<script src="~/GameDev/Source/Game Engine/WorldObject.js"></script>
	<script src="~/GameDev/Source/Game Engine/World.js"></script>
	<script src="~/GameDev/Source/Game Engine/Vector.js"></script>
	<script src="~/GameDev/Source/Game Engine/Random.js"></script>
	<script src="~/GameDev/Source/Game Engine/EasePoint.js"></script>
	<script src="~/GameDev/Source/Game Engine/AnimatedElement.js"></script>
    <script src="~/GameDev/Source/Game Engine/ScalableAnimation.js"></script>
    <script src="~/GameDev/Source/Game Engine/Animations.js"></script>
	<script src="~/GameDev/Source/Game Engine/SpriteProxy.js"></script>
	<script src="~/GameDev/Source/Game Engine/Part.js"></script>
	<script src="~/GameDev/Source/Game Engine/TextEffects.js"></script>
	<script src="~/GameDev/Source/Game Engine/AnimationStyle.js"></script>
	<script src="~/GameDev/Source/Game Engine/Sprites.js"></script>
	<script src="~/GameDev/Source/Game Engine/SpriteCollection.js"></script>
	<script src="~/GameDev/Source/Game Engine/SoundManager.js"></script>
	<script src="~/GameDev/Source/Game Engine/Physics.js"></script>
	<script src="~/GameDev/Source/Game Engine/HueSatLight.js"></script>
	<script src="~/GameDev/Source/Game Engine/Game.js"></script>
	<script src="~/GameDev/Source/Game Engine/GamePlusQuiz.js"></script>
	<script src="~/GameDev/Source/Game Engine/FpsWindow.js"></script>
	<script src="~/GameDev/Source/Dice/DiceSounds.js"></script>
	<script src="~/GameDev/Source/Dice/DiceLayer.js"></script>
	<script src="~/GameDev/Source/Dice/DiceRoller.js"></script>
	<script src="~/GameDev/Source/Dice/WorkerDice.js"></script>
	<script src="~/GameDev/Source/DragonH/Enums.js"></script>
	<script src="~/GameDev/Source/DragonH/Windups.js"></script>
	<script src="~/GameDev/Source/DragonH/DragonGame.js"></script>
	<script src="~/GameDev/Source/DragonH/InGameCreature.js"></script>
	<script src="~/GameDev/Source/DragonH/InGameCreatureManager.js"></script>
	<script src="~/GameDev/Source/DragonH/ConditionManager.js"></script>
	<script src="~/GameDev/Source/DragonH/DragonBackGame.js"></script>
	<script src="~/GameDev/Source/DragonH/WorkerBack.js"></script>
	<script src="~/GameDev/Source/DragonH/ActiveSpellData.js"></script>
	<script src="~/GameDev/Source/DragonH/CharacterStat.js"></script>
	<script src="~/GameDev/Source/DragonH/StatPage.js"></script>
	<script src="~/GameDev/Source/DragonH/CharacterStatsScroll.js"></script>
	<script src="~/GameDev/Source/DragonH/Character.js"></script>
	<script src="~/GameDev/Source/CodeRushed/DroneGame.js"></script>
	<script src="~/GameDev/Source/DragonH/BloodSprites.js"></script>
	<script src="~/GameDev/Source/DragonH/Fred.js"></script>
	<script src="~/GameDev/Source/DragonH/CoinManager.js"></script>
	<script src="~/GameDev/Source/DragonH/PlayerStatManager.js"></script>
	<script src="~/GameDev/Source/DragonH/WordWrap.js"></script>
	<script src="~/GameDev/Source/DragonH/MessageBox.js"></script>
	<script src="~/GameDev/Source/DragonH/SpeechBubbles.js"></script>
	<script src="~/GameDev/Source/DragonH/Cards.js"></script>
	<script src="~/GameDev/Source/DragonH/DragonFrontGame.js"></script>
	<script src="~/GameDev/Source/DragonH/WorkerFront.js"></script>

</body>
