@page
@model DieRollerModel
@{
  Layout = null;
}

@*<link rel="icon" href="data:,">*@
<!DOCTYPE html>

@*<canvas id="myFrontCanvas" width="1920" height="1080"></canvas>*@

<script src="~/lib/signalr/signalr.js"></script>
@*<style>
    div { background-color: #00ff00 }
  </style>*@

<script src="~/GameDev/Source/Game Engine/Folders.js"></script>
<script src="~/GameDev/Source/Globals.js"></script>
<script src="~/GameDev/Source/Game Engine/Connection.js"></script>

<script>
  Folders.assets = 'GameDev/Assets/DragonH';
  connectToSignalR(signalR);
</script>

<body style="margin: 0">
	<div id="container"></div>
	<script src="~/lib/dice/node_modules/three/build/three.js"></script>
	<script src="~/lib/dice/node_modules/cannon/build/cannon.js"></script>
	<script src="~/lib/dice/node_modules/three/examples/js/controls/OrbitControls.js"></script>
	<script src="~/lib/dice/node_modules/three/examples/js/libs/stats.min.js"></script>
	<script src="~/lib/dice/dice.js"></script>

	<canvas id="diceBackCanvas" style="position: absolute; left:0px; top:0px" width="1920" height="1080"></canvas>
	<div id="ThreeJS" style="position: absolute; left:0px; top:0px"></div>
	<canvas id="diceFrontCanvas" style="position: absolute; left:0px; top:0px" width="1920" height="1080"></canvas>
	@*
		To drag the camera around, move the diceFrontCanvas above the ThreeJS div above.
	*@

	<script src="~/GameDev/Source/Game Engine/Vector.js"></script>
	<script src="~/GameDev/Source/Game Engine/Random.js"></script>
	<script src="~/GameDev/Source/Game Engine/SpriteProxy.js"></script>
	<script src="~/GameDev/Source/Game Engine/Part.js"></script>
	<script src="~/GameDev/Source/Game Engine/TextEffects.js"></script>
	<script src="~/GameDev/Source/Game Engine/AnimationStyle.js"></script>
	<script src="~/GameDev/Source/Game Engine/Sprites.js"></script>
	<script src="~/GameDev/Source/Game Engine/SpriteCollection.js"></script>
	<script src="~/GameDev/Source/Game Engine/SoundManager.js"></script>
	<script src="~/GameDev/Source/Game Engine/Physics.js"></script>
	<script src="~/GameDev/Source/Dice/DiceSounds.js"></script>
	<script src="~/GameDev/Source/Dice/DiceLayer.js"></script>
	<script src="~/GameDev/Source/Dice/DiceRoller.js"></script>
	<script src="~/GameDev/Source/Game Engine/Game.js"></script>
	<script src="~/GameDev/Source/Game Engine/GamePlusQuiz.js"></script>
	<script src="~/GameDev/Source/DragonH/Enums.js"></script>
	<script src="~/GameDev/Source/DragonH/Windups.js"></script>
	<script src="~/GameDev/Source/DragonH/DragonGame.js"></script>
	<script src="~/GameDev/Source/DragonH/DragonBackGame.js"></script>
	<script src="~/GameDev/Source/DragonH/ActiveSpellData.js"></script>
	<script src="~/GameDev/Source/DragonH/Character.js"></script>
	<script src="~/GameDev/Source/CodeRushed/DroneGame.js"></script>
	<script src="~/GameDev/Source/DragonH/BloodSprites.js"></script>
	<script src="~/GameDev/Source/DragonH/Fred.js"></script>
	<script src="~/GameDev/Source/DragonH/DragonFrontGame.js"></script>

</body>
